.cart-page-wrapper {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cart-left {
  flex: 2;
  min-width: 60%;
}

.cart-right {
  flex: 1;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  float: none !important;
  width: 100% !important;
}

.shop_table {
  thead {
    background-color: #d3ebe5;
  }
}

.shop_table tbody td {
  background-color: white !important;
}

.wc-proceed-to-checkout {
  a {
    background-color: #09b8b6 !important;
  }
}

@media (max-width: 768px) {
  .cart-page-wrapper {
    flex-direction: column;
  }

  .cart-left,
  .cart-right {
    min-width: 100%;
  }
}
