@import "./page/homepage";
@import "./footer";
@import "./page/cart";
@import "./page/checkout";
@import "./page/products/pet_product";
@import "./page/myaccount/login";
@import "./page/myaccount/navigation";
@import "./page/myaccount/my-address";
@import "./page/myaccount/myaccount";

a {
  text-decoration: none !important;
}
